@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

#sideMenuContainer {
    z-index: 999;
    transform: translateX(-100%);
}

#sideMenuBlack {
    z-index: 998;
    display: none;
}